body { font: 18px;
       font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;}
hr {
  width: 50%;
}
table {
  display: inline-table;
  border-collapse: collapse;
  width: 80%;
  position: absolute;
  margin-left: 10%;
 }
 th{
   padding: 8px;
   text-align: left;
   border-bottom: 4px solid #aaa;
   font-size: 16px;
 }

td {
     padding: 8px;
     text-align: left;
     border-bottom: 1px solid #ddd;
     font-size: 14px;
 }

.container {
  display: inline-block;
  position: relative;
  width: 80%;
  padding-bottom: 45%;
  vertical-align: top;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/*.info {
  pointer-events: none;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
.axis path {
  display: none;
}
.axis text {
  font-family: sans-serif;
  font-size: 12px;}

.point {
  /*fill: #EC7063;*/
  r: 5;
}

.line {
  fill: none;
  stroke: #EC7063;
  stroke-width: 3px;
  pointer-events: none;
}
#TopCitationsTable.hidden{
  display: none;
}
#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  /*background-color: white;*/
  background-color: rgba(254, 254, 254, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}
